html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  color: #363636;
}

body {
  background-image: url('../imagens/Logo-Recycle.jpg');
  background-position: center 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    display: block;
    padding: 10px;
    margin-top: 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00688B;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    text-align: center;
    border-top: 1px solid grey;
    box-sizing: border-box;
    font-size: 12px;
    color: grey;
}

footer > p {
    align-items: center;
    padding-top: 10px;
}